    <div class="clearfix simple-header canada-header" id="header"><!--googleoff: index-->
        <div id="logo" class="grid_4 alpha">
            <div id="wm_logo">
                <span>Waste Management</span>
            </div>
        </div>
        
        <div class="grid_12 omega">
        
            <form
                id="form_languageSwitcher"
                name="form_languageSwitcher"
                action=""
                method="post">
                
                <label for="select_languageSwitcher">Language:</label>
                
                <select
                    id="select_languageSwitcher"
                    name="select_languageSwitcher"
                    class="select accessiblyClick"
                    tabindex="1">
                    
                    <option value=""></option>
                    <option value="en">English</option>
                    <option value="fr">French</option>    
                </select>
                
                <div class="btn dark-right dark-white-right btn_darkWhiteRight accessiblyHide">
                    <input
                        type="submit"
                        class="submit"
                        value="Change"
                        tabindex="2"
                    />
                </div>
                
            </form>
            
        </div>
    </div><!-- End #header -->
    
    <div class="grid_16 meta meta_page">
        <p>Magnis nascetur urna phasellus <a href="" title="Et pid pid">Et pid pid</a></p>
    </div>
    
    <!--googleon: index-->