RewriteEngine On
RewriteBase /
#RewriteRule ^$ page/show-all.html
#RewriteRule (_assets)/(.*) /dumpster.com/_assets/$2
#RewriteRule ^/dumpster.com(.*)$ /dumpster.com/index.php$1
#RewriteRule ([A-Za-z0-9\-]+)/(.*)$ /dumpster.com/index.php?$1=$2

#css
AddType text/css .css
<Files *.css>
ForceType text/css
</Files>

