<!-- 

/**
 * Shopping Flow Pages > Shopping Cart (Right Rail)
 */

-->

<div id="right_content" class="grid_4 omega clearfix">

<div class="mod mod_cartSubtotalContainer">
<div class="mod-inner">
    
<table>
<tbody>
<tr class="cartSubtotalItem cartSubtotalItem1">
<td class="itemName">Item Name</td>
<td class="itemTotal">$000.00</td>
</tr>
<tr class="cartSubtotalItem cartSubtotalItem2">
<td class="itemName">Item Name</td>
<td class="itemTotal">$000.00</td>
</tr>
</tbody>
<tfoot>
<tr class="cartSubtotal">
<td class="itemName">Item Name</td>
<td class="itemTotal">$000.00</td>
</tr><!-- End .cartSubtotal -->
</tfoot>
</table>

</div>
</div><!-- End .cartSubtotalContainer -->

<div class="mod mod_cartTotalContainer">
<div class="mod-inner">
    
<table>
<tbody>
<tr class="cartTaxes">
<td class="itemName">Item Name</td>
<td class="itemTotal">$000.00</td>
</tr><!-- End .cartTaxes -->
</tbody>
<tfoot>
<tr class="cartTotal">
<td class="itemName">Item Name</td>
<td class="itemTotal">$000.00</td>
</tr><!-- End .cartTotal -->
</tfoot>
</table>

<fieldset>
<input 
    type="hidden"
    id="hidden_"
    name=""
    class="hidden"
/>
</fieldset>
<fieldset>
<div class="btn btn_darkWhiteRight [ old: dark-right dark-white-right ]">
<input 
    type="submit"
    id="submit_shoppingCart"
    name="submit_shoppingCart"
    class="submit"
    tabindex=""
/>
</div>
</fieldset>

</div>
</div><!-- End .cartTotalContainer -->

<!--
/**
 * Specimen: Single Input + Button Form
 *
 * @author               nerdfiles
 */
-->

<div class="mod mod_cartPromoCodeContainer">
<div class="mod-inner">
<div class="promoCodeMessage">
<p>Augue dignissim sagittis enim amet? <a href="" title="Aenean porta">Aenean porta</a></p>
</div>
<fieldset>
<dl>
<dt>
<input
    type="text"
    id="input_"
    name=""
    class="text"
    tabindex=""
/>
</dt>
<dd>
<div class="btn btn_darkWhiteRight [ old: dark-right dark-white-right ]">
<input
    type="submit"
    id="submit_promoCodeMessage"
    name="submit_promoCodeMessage"
    class="submit"
    tabindex=""
/>
</div><!-- End .btn_darkWhiteRight -->
</dd>
</dl>
</fieldset>
</div>
</div><!-- End .cartPromoCodeContainer -->

<!--
/**
 * Specimen: Single Input + Button Form
 *
 * @author               nerdfiles
 */
-->

<div class="mod mod_htmlContainer">
<div class="mod-inner">
<h3>Want to Save Time?</h3>
<p>Create an account to save time on your next purchase.</p>
<div class="btn btn_darkWhiteRight [ old: dark-right dark-white-right ]">
    <a href="" title="">Sign up Now</a>
</div>
</div>
</div><!-- End .mod_htmlContainer -->

</div><!-- End #right_content -->
