#dumpster-show-all .mod { }
#dumpster-show-all .mod_itemTable { }

#dumpster-show-all table { box-shadow: 0 0 2em #e0e0d0; }
#dumpster-show-all tr:nth-child(odd) td { background: #e0e0d0; }
#dumpster-show-all tr:hover td { background: #f4ce69; }

#dumpster-show-all th,
#dumpster-show-all td { padding: 10px 5px; }
#dumpster-show-all th { cursor: pointer !important; background: #7AB700; text-shadow: 0 -1px 0 #222; color: #fff; font-size: 1.1em; }
#dumpster-show-all td { }
#dumpster-show-all a.show-all { z-index: 9001; color: #fff; margin-top: -20px; background: #00693C; padding: 5px; display: inline-block; *zoom: 1; *display: inline; }
#dumpster-show-all a.demo { z-index: 9001; color: #fff; margin-top: -20px; background: #00693C; padding: 5px; display: inline-block; *zoom: 1; *display: inline; }

#dumpster-show-all th.page-name { width: 25%; }
#dumpster-show-all th.prototype-ref { width: 10%; position: relative; }
#dumpster-show-all th.owner { width: 10%; }
#dumpster-show-all th.status { width: 5%; }
#dumpster-show-all th.complete-date { width: 15%; }
#dumpster-show-all th.notes { width: 23%; }
#dumpster-show-all th.demo { width: 7%; }

#dumpster-show-all td.page-name { }
#dumpster-show-all td.prototype-ref { }
#dumpster-show-all td.owner { }
#dumpster-show-all td.status { }
#dumpster-show-all td.complete-date { }
#dumpster-show-all td.notes { }
#dumpster-show-all td.demo { }

